<html>
    <head>
        <title>
            Example oauth2
        </title>
    </head>
    <body>
        <h1>Informacion del Flujo Oauth2</h1>
        <a href="/exit">Log out</a>

        <h2>Codigo de concesion | Code Grant</h2>
        <h4> Codigo: <%= query.code %> </h4>
        <h4> Estado de Usuario: <%= query.userState %> </h4>

        <h2>Token de Acceso | Access Token</h2>
        <%= token %> 

        <h2>Informacion del usuario | User Info</h2>
        <h4> Correo: <%= user.email %> </h4>
        <h4> Usuario: <%= user.preferred_username %> </h4>
        <h4> App ID: <%= user.applicationId %> </h4>

    </body>
</html>